{% extends 'base.html' %}

{% block content %}
<h3>You have selected the following item:</h3>
<br>
{%for cart_item in all_cart_items %}
<div class="media">
  <img src="{{cart_item.product.photo.cdn_url}}" class="mr-3">
  <div class="media-body">
    <h5 class="mt-0">{{cart_item.product.name}}</h5>
    <p>
    {{cart_item.description}}
    </p>
    <p>
        Cost: ${{cart_item.product.getCostInDollars}} <br/>
        Quantity: {{cart_item.quantity }}
        <br>
        <a class='btn btn-info' href="{% url 'remove_from_cart' cart_item_id=cart_item.id %}">Remove</a>
        <a class='btn btn-warning mb-3 mt-3' href="{%url 'charge' %}">Proceed to Payment</a>
    </p>
  </div>
</div>
{%endfor%}

{% endblock %}

